.:53 {
  # Load local /etc/hosts
  hosts {
    fallthrough
  }
 
  # External plugin for https://github.com/wl4g/xcloud_dopaas_coredns
  #xcloud_dopaas_coredns {
  #  address "127.0.0.1:6379,127.0.0.1:6380,127.0.0.1:6381,127.0.0.1:7379,127.0.0.1:7380,127.0.0.1:7381"
  #  password "zzx!@#$%"
  #  connect_timeout 5000
  #  read_timeout 10000
  #  write_timeout 5000
  #  max_retries 10
  #  pool_size 10
  #  ttl 360
  #  prefix _coredns:
  #  local_cache_expire_ms 5000
  #  #fallthrough # If not set, the upstream query will not be requested recursively when no record is found.
  #}
 
  forward . 8.8.8.8 114.114.114.114
 
  cache {
    success 3600
    denial 600
  }
  whoami
  reload 6s
  loadbalance
  log . "{local}:{port} - {>id} '{type} {class} {name} {proto} {size} {>do} {>bufsize}' {rcode} {>rflags} {rsize} {duration}"
  errors
  prometheus 127.0.0.1:9253
}